# Include the license, readme, and type marker
include LICENSE
include README.md
include grid_universe/py.typed

# Include the entire assets directory tree in the source distribution
recursive-include grid_universe/assets *

# Ensure no __pycache__ directories or compiled files are included
prune **/__pycache__
exclude **/*.py[co]
exclude **/.DS_Store